
.blue {
  color: blue;
}

.image-link {
  display: block;
  cursor: pointer;
}


.image-link:hover {
  cursor: pointer;
}

.page {
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.examples {
  display: flex;
  flex-direction: column;
}



h1, h2, h3 {
  text-align: center;
}

.section {
  margin-bottom: 2vw;
}

.section-container {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 850px) {
  .section-container {
    flex-direction: row;
  }
}

.left {
  padding: 2vw 5vw;
}

.right {
  padding: 2vw 5vw;
}

.intro {
  text-align: center;
}
.intro-link {
  text-align: center;
}

.intro-video {
  display:flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.hr {
  color: black;
  width: 100%;
}

.intro-red {
  color: red;
}
