
.blue {
  color: blue;
}

.image-link {
  display: block;
  cursor: pointer;
}


.image-link:hover {
  cursor: pointer;
}

.page {
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.examples {
  display: flex;
  flex-direction: column;
}



h1, h2, h3 {
  text-align: center;
}

.section {

}

.section-container {
  /*text-align: center;*/
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.left {
  padding: 5vw;
}

.right {
  padding: 5vw;
}
